<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Твой задачник</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <div style="display: flex; flex-direction: column; width: max-content; gap: 10px; margin-top: 20px">
        <button class="button" @click="clearStorage()"><img src="assets/trashBox.png" alt="trashBox"><strong>ALL</strong></button>
        <button class="button" @click="showCard()"><img src="assets/plass.png" alt="plass"></button>
    </div>
    <div>
        <div v-for="(column, columnIndex) in columns" :key="columnIndex" class="column" @dragover="onDragOver" @drop="onDrop(columnIndex)">
            <h2>{{ column.title }}</h2>
            <div v-for="(card, cardIndex) in column.cards" :key="cardIndex" class="card" draggable="true" @dragstart="startDrag(columnIndex, card)">
                <div style="display: flex; flex-direction: column; align-items: start">
                    <div>
                        <strong>Дата создания: </strong>{{ formatDate(new Date(card.createAt)) }}
                    </div>
                    <h3>Название: {{ card.title }}</h3>
                </div>
                <div v-for="(item, itemIndex) in card.items" :key="itemIndex">
                    <p>Описание: {{ item.description }}</p>
                    <p v-if="columnIndex === 1 && item.taskReturn !== ''">Причина возврата: {{ item.taskReturn }}</p>
                    <p>Сделать до:  {{ item.deadline }}</p>
                    <strong style="color: red" v-if="new Date(item.deadline) < new Date() && columnIndex === 3">Задание просрочено</strong>
                    <strong style="color: green" v-if="new Date(item.deadline) >= new Date() && columnIndex === 3">Молодцы, вовремя!!!</strong>
                </div>
                <div class="description" v-if="card.showInputs">
                    <input type="text" v-if="columnIndex === 0 || columnIndex === 1 || columnIndex === 2" v-model="card.title" placeholder="Введите название задачи">
                    <textarea v-if="columnIndex === 0 || columnIndex === 1 || columnIndex === 2" v-model="newTaskDescription[columns.findIndex(column => column.cards.includes(card))]" placeholder="Введите описание задачи"></textarea>
                    <textarea v-if="columnIndex === 2" v-model="newTaskReturn[columns.findIndex(column => column.cards.includes(card))]" placeholder="Введите причину возврата"></textarea>
                    <input type="date" v-if="columnIndex === 0" v-model="newTaskDate[columns.findIndex(column => column.cards.includes(card))]">
                    <button style="width: 20%;" v-if="columnIndex === 0 || columnIndex === 1 || columnIndex === 2" @click="addTask(card); show(card.id)">+</button>
                </div>
                <p style="color: red" id="error"></p>
                <div class="buttonOne">
                    <button v-if="columnIndex === 0" @click="removeCard(columnIndex, cardIndex)"><img src="assets/trashBox.png" alt="trashBox"></button>
                    <button style="width: max-content" v-if="columnIndex === 0 || columnIndex === 1 || columnIndex === 2" @click="show(card.id)">Редактирование</button>
                    <button style="width: max-content" v-if="columnIndex === 2 " @click="returnCard(card)">Возврат</button>
                </div>
                <div v-for="(item, index) in card.completedAt" :key="index" v-if="card.completedAt">
                    <strong>Изменение {{ index + 1 }}: </strong>
                    {{ formatDate(new Date(item.time)) }}
                </div>
            </div>
            <div style="display: flex; gap: 20px">
                <input class="cart" v-if="columnIndex === 0" type="text" v-model="newCardTitle[columnIndex]" placeholder="Введите заголовок" />
                <button class="cart" v-if="columnIndex === 0" @click="addCard(columnIndex); showCard()">Добавить карточку</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>