<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Твой задачник</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <div style="display: flex; flex-direction: column; width: max-content; gap: 10px; margin-top: 20px">
        <button class="button" @click="clearStorage()"><img src="assets/trashBox.png" alt="trashBox"><strong>ALL</strong></button>
        <button class="button" @click="show()"><img src="assets/plass.png" alt="plass"></button>
    </div>
    <div>
        <div v-for="(column, index) in columns" :key="index" class="column">
            <h2>{{ column.title }}</h2>
            <div v-for="(card, cardIndex) in column.cards" :key="cardIndex" class="card">
                <div style="display: flex; gap: 30px; align-items: center">
                    <h3>Название: {{ card.title }}</h3>
                </div>
                <div v-for="(item, itemIndex) in card.items" :key="itemIndex">
                    <p>Описание: {{ item.description }}</p>
                    <p>Сделать до: {{ item.deadline }}</p>
                </div>
                <div class="description">
                    <textarea v-if="index === 0" v-model="newTaskDescription[columns.findIndex(column => column.cards.includes(card))]" placeholder="Введите описание задачи"></textarea>
                    <input type="date" v-if="index === 0" v-model="newTaskDate[columns.findIndex(column => column.cards.includes(card))]">
                    <button style="width: 20%;" v-if="index === 0" @click="addTask(card)">+</button>
                </div>
                <p style="color: red" id="error"></p>
                <div v-if="card.completedAt">
                    <strong>Завершено:</strong> {{ formatDate(new Date(card.completedAt)) }}
                </div>
                <div class="buttonOne">
                    <button @click="removeCard(index, cardIndex)"><img src="assets/trashBox.png" alt="trashBox"></button>
                    <button v-if="index === 0" @click="show(index)"><img src="assets/plass.png" alt="plass"></button>
                </div>
            </div>
            <div style="display: flex; gap: 20px">
                <input class="cart" v-if="index === 0" type="text" v-model="newCardTitle[index]" placeholder="Введите заголовок" />
                <button class="cart" v-if="index === 0" @click="addCard(index); show()">Добавить карточку</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
